<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diet.admin.dao.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.diet.admin.entity.Feedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="memberId" jdbcType="INTEGER" property="memberId" />
    <result column="mealDesc" jdbcType="VARCHAR" property="mealDesc" />
    <result column="mealDate" jdbcType="VARCHAR" property="mealDate" />
    <result column="mealDetails" jdbcType="VARCHAR" property="mealDetails" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>