<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diet.admin.dao.MemberInfoMapper">
  <resultMap id="BaseResultMap" type="com.diet.admin.entity.MemberInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wxUserExtId" jdbcType="INTEGER" property="wxUserExtId" />
    <result column="wxUserId" jdbcType="INTEGER" property="wxUserId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthDate" jdbcType="VARCHAR" property="birthDate" />
    <result column="height" jdbcType="REAL" property="height" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="profession" jdbcType="INTEGER" property="profession" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="workType" jdbcType="INTEGER" property="workType" />
    <result column="bloodFat" jdbcType="INTEGER" property="bloodFat" />
    <result column="bloodSugar" jdbcType="INTEGER" property="bloodSugar" />
    <result column="bloodPress" jdbcType="INTEGER" property="bloodPress" />
    <result column="uricAcid" jdbcType="INTEGER" property="uricAcid" />
    <result column="kidney" jdbcType="INTEGER" property="kidney" />
    <result column="headImg" jdbcType="VARCHAR" property="headImg" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectByOpenId" resultMap="BaseResultMap">
    select a.* from tb_member_info a
    <if test="openId != null and openId != ''">
      where exists (select 1 from tb_wx_user_info_ext b where a.wxUserExtId = b.id and b.openId = #{openId})
    </if>
  </select>
</mapper>